<!doctype html>
<html>
	<head>
		<title>Borms' blog</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
<div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/">Thomas<span class="logo_colour">_Borms'</span></a></h1>
          <h2>Portfolio website</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li class="selected"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>   
