<% include header %>
<div id="content">

<h1><a href="/"><< back to</a></h1>
<h3>personal site of <a href="/<%- page.slug %>">Thomas Borms</a></h3>

<h2><%- page.title %> :</h2>

<section>
  <%- page.body %>
</section>
</div>
<% include footer %>
